:root{
    --dark-color: #191919;
    --white-color: #fff;
    --green-color: rgb(2, 95, 64);
    --blue-color: #6cf5f5a1;
    --gray-color: #828282;
    --light-color: #f3f3f3;
}
header{

 }
nav{
    display: flex;
    background-color: var(--green-color);
    position: sticky;
    top: 0;
    padding: 10px;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    color: var(--light-color);
    font-size: 15px;

}
.nav-bar a{
    color: var(--light-color);
    text-decoration: none;
    margin-right: 30px;
    padding: 10px;
}

.nav-bar a:hover{
    border-bottom: 2px solid var(--white-color);
}
body{
    background-image: url(../img/choco.jpg);
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.grid-container{
    display: grid;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px auto 80px;
    background-color: var(--green-color);
    padding: 20px;
    grid-template-areas: "header header header" "main main section" "footer footer footer";
    text-align: center;
    font-size: 16px;
    border: 2px solid var(--gray-color);
    border-radius: 20px;
}

.grid-container > div{
    color: var(--dark-color);
    font-size: 15px;
    padding: 20px;
}
.item1{
    background-color: var(--blue-color);
    grid-area: header;
    border-radius: 20px;
}

.item2{
    background-color: var(--blue-color);
    grid-area: main;
    display: grid;
    grid-template-columns: (1fr 25%);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-template-areas: "header1 header1"
    "article sidebar";
    border-radius: 20px;
}

.item3{
    background-color: var(--blue-color);
    grid-area: section;
    text-align: center;
    border-radius: 20px;
}


.item5{
    background-color: var(--blue-color);
    grid-area: header1;
    border-radius: 20px;
}
.item6{
    background-color: var(--blue-color);
    grid-area: article;
    border-radius: 20px;
}
.item7{
    background-color: var(--blue-color);
    grid-area: sidebar;
    border-radius: 20px;
}

.table{
    display: grid;
    table-layout: auto;
    width: 95%;
    background-color: var(--green-color);
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--gray-color);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-radius: 20px;
    color: var(--light-color);
}
tr{
    padding: 20px;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
}
.title{
    text-align: center;

}


.boton{
    background-color: var(--blue-color);
    width: 150px;
    height: 15px;
    font-size: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    
}

.boton:hover{
    background-color: var(--blue-color);
    color: var(--white-color);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--white-color);
    
}

img{
    border-radius: 50%;
    border: 2px solid var(--green-color);
}
img.transicion{
    height: 150px;
    border: 2px solid var(--green-color);
    border-radius: 50%;
    display: grid;
    grid-area: right;
}


img:hover{
    border: 3px solid var(--light-color);
    transform: rotate(-360deg) scale(1.5);
    transition-duration: 5s;
}

p{
    text-align: justify;
    padding: 6px;
}

.forms{
    background-color: var(--green-color);
    border: 2px solid var(--gray-color);
    align-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    margin: 20px;
    color: var(--light-color);
    border-radius: 20px;
}

.head1{
    background-color: var(--green-color);
    padding: 20px;
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "right left";
    align-content: center;
    border-radius: 20px;
}

.imgtran{
    display: grid;
    grid-area: left;
}

.title{
    display: grid;
    grid-area: right;
}
 
input{
    border-radius: 5px;
    background-color: var(--blue-color);
    color: var(--light-color);
    width: 100%;
    margin-bottom: 10px;
}
input:hover{
    background-color: rgba(7, 161, 161, 0.527);
    color: var(--dark-color);
}

label{
    margin: 20px;
    padding-bottom: 10px;
}

textarea{
    border-radius: 5px;
    background-color: var(--green-color);
    color: var(--light-color);
}

textarea:hover{
    background-color: var(--blue-color);
    color: var(--dark-color);
}

.datos:hover{
    color: var(--blue-color);
}

.preguntas{
    width: 40%;
}